Repository reactor/reactor-core, pull requests merged in 2019-01, with the labels that each got.

#1477 Update asciidoctor
  build.gradle
  gradle/doc.gradle
Labels: chores/build

#1479 Update Asciidoctor's JRuby
  gradle/doc.gradle
Labels: chores/build

#1466 Optimize assembly tracing
  reactor-core/build.gradle
  reactor-core/src/jmh/java/reactor/AssemblyTraceBenchmark.java
  reactor-core/src/main/java/reactor/core/publisher/ConnectableFluxOnAssembly.java
  reactor-core/src/main/java/reactor/core/publisher/Flux.java
  reactor-core/src/main/java/reactor/core/publisher/FluxCallableOnAssembly.java
  reactor-core/src/main/java/reactor/core/publisher/FluxOnAssembly.java
  reactor-core/src/main/java/reactor/core/publisher/Hooks.java
  reactor-core/src/main/java/reactor/core/publisher/Mono.java
  reactor-core/src/main/java/reactor/core/publisher/MonoCallableOnAssembly.java
  reactor-core/src/main/java/reactor/core/publisher/MonoOnAssembly.java
  reactor-core/src/main/java/reactor/core/publisher/ParallelFlux.java
  reactor-core/src/main/java/reactor/core/publisher/ParallelFluxOnAssembly.java
  reactor-core/src/main/java/reactor/core/publisher/SignalLogger.java
  reactor-core/src/main/java/reactor/core/publisher/Traces.java
  reactor-core/src/main/java8stubs/sun/misc/JavaLangAccess.java
  reactor-core/src/main/java8stubs/sun/misc/SharedSecrets.java
  reactor-core/src/main/java9/reactor/core/publisher/StackWalkerCallSiteSupplierFactory.java
  reactor-core/src/test/java/reactor/HooksTraceTest.java
  reactor-core/src/test/java/reactor/core/publisher/ConnectableFluxOnAssemblyTest.java
  reactor-core/src/test/java/reactor/core/publisher/FluxCallableOnAssemblyTest.java
  reactor-core/src/test/java/reactor/core/publisher/FluxOnAssemblyTest.java
  reactor-core/src/test/java/reactor/core/publisher/HooksTest.java
  reactor-core/src/test/java/reactor/core/publisher/HooksTestStaticInit.java
  reactor-core/src/test/java/reactor/core/publisher/MonoCallableOnAssemblyTest.java
  reactor-core/src/test/java/reactor/core/publisher/MonoOnAssemblyTest.java
  reactor-core/src/test/java/reactor/core/publisher/ParallelFluxOnAssemblyTest.java
  reactor-core/src/test/java/reactor/core/publisher/TracesTest.java
Labels: enhancement, java9

#1473 Removed reference to delayUntilOther
  docs/asciidoc/apdx-operatorChoice.adoc
Labels: documentation

#1483 Make it fully buildable on JDK 8 (including the StackWalker usage)
  reactor-core/build.gradle
  reactor-core/src/main/java/reactor/core/publisher/Traces.java
  reactor-core/src/main/java9/reactor/core/publisher/StackWalkerCallSiteSupplierFactory.java
  reactor-core/src/main/java9stubs/java/lang/StackWalker.java
Labels: chores/build, java9

#1491 fix #1484 Add Loggers.useVerboseConsoleLoggers, default to no TRACE/DEBUG
  reactor-core/src/main/java/reactor/util/Loggers.java
  reactor-core/src/test/java/reactor/util/ConsoleLoggerTest.java
  reactor-core/src/test/java/reactor/util/LoggersTest.java
Labels: Behavior change :warning:
