Repository reactor/reactor-core, pull requests merged in 2024-01, with the labels that each got.

#3673 Restore where onLastOperatorHook is applied
  reactor-core/src/main/java/reactor/core/publisher/FluxBufferWhen.java
  reactor-core/src/main/java/reactor/core/publisher/FluxConcatArray.java
  reactor-core/src/main/java/reactor/core/publisher/FluxConcatIterable.java
  reactor-core/src/main/java/reactor/core/publisher/FluxConcatMap.java
  reactor-core/src/main/java/reactor/core/publisher/FluxConcatMapNoPrefetch.java
  reactor-core/src/main/java/reactor/core/publisher/FluxFilterWhen.java
  reactor-core/src/main/java/reactor/core/publisher/FluxFirstWithSignal.java
  reactor-core/src/main/java/reactor/core/publisher/FluxFirstWithValue.java
  reactor-core/src/main/java/reactor/core/publisher/FluxGroupJoin.java
  reactor-core/src/main/java/reactor/core/publisher/FluxJoin.java
  reactor-core/src/main/java/reactor/core/publisher/FluxRepeatWhen.java
  reactor-core/src/main/java/reactor/core/publisher/FluxRetryWhen.java
  reactor-core/src/main/java/reactor/core/publisher/FluxSampleFirst.java
  reactor-core/src/main/java/reactor/core/publisher/FluxSampleTimeout.java
  reactor-core/src/main/java/reactor/core/publisher/FluxSwitchMap.java
  reactor-core/src/main/java/reactor/core/publisher/FluxSwitchMapNoPrefetch.java
  reactor-core/src/main/java/reactor/core/publisher/FluxSwitchOnFirst.java
  reactor-core/src/main/java/reactor/core/publisher/FluxUsingWhen.java
  reactor-core/src/main/java/reactor/core/publisher/MonoDelayUntil.java
  reactor-core/src/main/java/reactor/core/publisher/MonoFilterWhen.java
  reactor-core/src/main/java/reactor/core/publisher/MonoFirstWithSignal.java
  reactor-core/src/main/java/reactor/core/publisher/MonoFlatMapMany.java
  reactor-core/src/main/java/reactor/core/publisher/MonoIgnoreThen.java
  reactor-core/src/main/java/reactor/core/publisher/MonoUsingWhen.java
Labels: warn/regression

#3682 Ignore bnd plugin from dependabot upgrades
  .github/dependabot.yml
Labels: for/fast-track, ignore-changelog

#3679 Fix flaky test for BoundedElasticThreadPerTaskScheduler
  reactor-core/src/test/java21/reactor/core/scheduler/BoundedElasticThreadPerTaskSchedulerTest.java
Labels: type/test, type/test/flaky

#3678 Improve RaceTestUtils to yield when CPUs don't suffice
  reactor-core/src/blockHoundTest/java/reactor/core/scheduler/ReactorTestBlockHoundIntegration.java
  reactor-core/src/blockHoundTest/resources/META-INF/services/reactor.blockhound.integration.BlockHoundIntegration
  reactor-test/src/main/java/reactor/test/util/RaceTestUtils.java
Labels: type/test, type/test/flaky

#3686 Exclude loom boundedElastic from restart validation
  reactor-core/src/test/java/reactor/core/scheduler/AbstractSchedulerTest.java
Labels: type/test

#3690 Ignoring flaky JCStress tests
  reactor-core/src/jcstress/java/reactor/core/publisher/FluxSwitchMapStressTest.java
  reactor-core/src/jcstress/java/reactor/core/publisher/FluxSwitchOnFirstConditionalStressTest.java
  reactor-core/src/jcstress/java/reactor/core/publisher/FluxSwitchOnFirstStressTest.java
Labels: type/test, type/test/flaky

#3677 Fix flaky `TimedScheduler` periodic scheduling tests
  reactor-core-micrometer/src/test/java/reactor/core/observability/micrometer/TimedSchedulerTest.java
Labels: type/test, type/test/flaky
