Repository reactor/reactor-core, pull requests merged in 2024-07, with the labels that each got.

#3838 [#3835] Fix SynchronousSink javadoc
  reactor-core/src/main/java/reactor/core/publisher/SynchronousSink.java
Labels: type/documentation

#3841 [test] Cover missed case in FluxReplayStressTest
  reactor-core/src/jcstress/java/reactor/core/publisher/FluxReplayStressTest.java
Labels: type/test

#3845 Skip Automatic Context Propagation in special operators
  reactor-core/src/main/java/reactor/core/publisher/Flux.java
  reactor-core/src/main/java/reactor/core/publisher/Mono.java
  reactor-core/src/withMicrometerTest/java/reactor/core/publisher/AutomaticContextPropagationTest.java
Labels: type/enhancement, area/context, area/observability

#3848 Skip automatic context-propagation in Flux.generate
  reactor-core/src/main/java/reactor/core/publisher/FluxGenerate.java
  reactor-core/src/withMicrometerTest/java/reactor/core/publisher/AutomaticContextPropagationTest.java
Labels: type/enhancement, area/performance, area/context, area/observability

#3854 Allow registering a custom `Predicate` for determining non-blocking threads
  reactor-core/src/main/java/reactor/core/scheduler/Schedulers.java
  reactor-core/src/test/java/reactor/core/scheduler/SchedulersTest.java
Labels: type/enhancement
